.headerContainer{
    // border-bottom: 1px solid var(--gray-800);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, var(--pink-300), var(--purple-300)) 1;
    height: 10vh;
}

.logo{
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 500;

    font-family: 'Dancing Script', cursive;

    &:hover{
        cursor: pointer;        
    }
    
}


.headerContent{
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav{
        margin-left: 5rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;


        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            color: var(--gray-300);
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            transition: color 0.2s;

            & + a {
                margin-left: 2rem;
            }
        
            &:hover{
                color: var(--white);
                font-weight: bold;
                transition: color 0.2s;
        
                & + a {
                    margin-left: 2rem;
                }
            
                &:hover{
                    color: var(--white);
                }
            }

            &.active{
                color: var(--white);
                font-weight: bold;
                border-bottom: 1px solid var(--yellow-500);
            }
    
            // &.active::after{
            //     content: '';
            //     height: 3px;
            //     border-radius: 3px 3px 0 0;
            //     bottom: 1px;
            //     left: 0;
            //     background-color: var(--yellow-500);
            // }
        }
    }


    @media (max-width: 720px){
        .logo{
            display: none;
        }

        nav{
            margin-left: 0;
        }
    }

}